<div class="panel panel-primary">
  <div class="panel-heading">{{title}}</div>


    <div class="panel-body">
      <form #policiesForm="ngForm" (ngSubmit)="onSubmit()" >
    <div *ngFor="let option of policies.accountOptions | keyValueFilter ">

      <div [ngSwitch]="determineInputType(option)" class="form-group">
        <div *ngSwitchCase="'checkbox'" class="form-check">
          <input type="checkbox"
                 [id]="option.key"  class="form-check-input"
                 [checked]="option.value"
                 [name]="option.key"
                 [(ngModel)]="userAccountOptions[option.key]"
                 [disabled]="disableFields"/>
          <label [for]="option.key" class="form-check-label col-md-offset-0">{{option.key}}</label>
        </div>

        <div *ngSwitchCase="'text'" class="form-group">
          <label [for]="option.key" class="control-label">{{option.key}}</label>
          <input type="text" [id]="option.key" class="form-control"
                 [value]="option.value"
                 [name]="option.key"
                 [(ngModel)]="userAccountOptions[option.key]"
                 required
                 [disabled]="disableFields"/>
        </div>
        <div *ngSwitchCase="'loginIdentifierConflict'" class="form-group">
          <label [for]="option.key" class="control-label">{{option.key}}</label>
          <select [id]="option.key" class="form-control"
                  [value]="option.value"
                  [name]="option.key"
                  [(ngModel)]="userAccountOptions[option.key]"
                  [disabled]="disableFields">
            <option *ngFor="let identifier of loginIdentifiersConflict">
              {{identifier}}
            </option>
          </select>
        </div>
      </div>

    </div>

    <div *ngIf="submitResponse.errorCode && submitResponse.errorCode != '0'" class="alert"
         [ngClass]="{'alert-danger': submitResponse.errorCode != '0'}">
      <strong>{{submitResponse.errorMessage}}</strong>
      <br>{{submitResponse.errorDetails}}
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!policiesForm.valid">
      Submit
      <i class="glyphicon glyphicon-refresh " [ngClass]="{'glyphicon-spin':spinner}"></i>
    </button>

  </form>
    </div>
</div>
